.comic-list { 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  justify-items: center;
}

.arrow-left-icon {
  margin: 12px;
  cursor: pointer;
  color: #ccc;
}

.comics-container :hover {
  color: white;
}

@media (min-width: 600px) {
  .comic-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .comic-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .comic-list { 
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1500px) {
  .comic-list {
    grid-template-columns: repeat(6, 1fr);
  }
}