.menu-tools-container {
  margin-top: 8px;
  position: absolute;
  right: 10px;
  height: 30px;
}

.menu-tools-container :hover {
  color: white;
}

.icon {
  margin-left: 16px;
  cursor: pointer;
  color: #ccc;
}

.draggable-area {
  position: absolute;
  margin-top: 2px;
  width: calc(100% - 108px);
  height: 16px;
  -webkit-app-region: drag;
}